<p-table [columns]="selectedColumns"   [value]="respFiles"  
[totalRecords]="respFiles.length"
      [responsiveLayout]="'stack'"
       [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
   >
    <ng-template pTemplate="header" let-columns>

        <tr>
            <!-- <th>Select</th>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>Is Active</th>
            <th>Image</th>
            <th>Action</th> -->
            <!-- <ng-container *ngIf="columns.show==true; else elseBlock"> -->

            <!-- <th>Select</th> -->
            <th>
                <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                #
            </th>

            <th *ngFor="let col of columns">

                {{col.header}}
            </th>
        </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-product let-columns let-rowIndex="rowIndex">
        
        <tr>
            <td>
                <!-- <p-tableCheckbox [value]="data"></p-tableCheckbox> -->
                {{rowIndex+1}}
            </td>
                 <ng-container *ngFor="let col of cols">
             
                       <td *ngIf="col.type=='text' && product[col.field]">
                    
                           {{ (product[col.field].length>6)? (product[col.field] | slice:0:50)+'...':(product[col.field]) }}
                       </td>
                       <td *ngIf="col.type=='text' && !product[col.field]">
                    
                           
                       </td>
                       <td *ngIf="col.type=='date'">
                        {{product[col.field] | date:'dd/MM/yyyy'}}
                       </td>
                       <td *ngIf="col.type=='profilePic'">
                           <p-avatar *ngIf="!product[col.field]"  styleClass="mr-2" size="large"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                  <p-avatar [image]="product[col.field]" styleClass="mr-2" size="large" *ngIf="product[col.field]" [style]="{'background-color':'#1DB9A1 ', 'color': '#ffffff'}" shape="circle"></p-avatar>

                       </td>
                       <td *ngIf="col.type=='status'">
                <!-- <p-checkbox [checked]=" data.isAvailable " [binary]="true " class="me-2 "></p-checkbox> -->
                <mat-checkbox [checked]="product[col.field]" [disabled]="true" class="me-2">
                </mat-checkbox>

                Is Available
            </td>
               <td *ngIf="col.type=='action'">
                <div class="d-inline-flex ">
                    <fa-icon [icon]="editIcon " class="mx-2 cursor-pointer  " (click)="update(product)"></fa-icon>
                    <span *ngIf="showViewBtn" (click)="view(product)">View</span>
                    <fa-icon [icon]="trash " class="text-danger cursor-pointer " (click)="delete(product)"></fa-icon>
                </div>

            </td>
                 </ng-container>
           
         



            <!-- <ng-container>
                <p-tableCheckbox [value]="data "></p-tableCheckbox>

                <td *ngIf="columns.show ">{{data.username}}</td>
                <td *ngIf="columns.show==true ">{{data.role}}</td>
                <td *ngIf="columns.show==true ">{{data.email}}</td>

                <td *ngIf="columns.show==true ">
                    <p-checkbox *ngIf="data.isActive==true " class="me-2 "></p-checkbox>
                    <p-checkbox *ngIf="data.isActive==false " class="me-2 "></p-checkbox>
                    Is Active
                </td>
                <td>
                    <img src="../../../../assets/Images/user_pic.png " alt=" " width="31px " height="31px ">
                </td>
                <td>
                    <fa-icon [icon]="editIcon " class="mx-2 "></fa-icon>
                    <fa-icon [icon]="trash " class="text-danger "></fa-icon>
                </td>
            </ng-container> -->

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
  <tr>
    <td [attr.colspan]="columns.length" class="text-center text-danger">
       No records found
    </td>
  </tr>
</ng-template>
    <!-- <ng-template pTemplate="footer " class="text-end ">
        <div class="w-100 d-flex justify-content-end ">
            
        </div>

    </ng-template> -->

</p-table>
<div class="d-flex justify-content-end align-items-center mt-2 ">
    <!-- <p-paginator [rows]="10 " [totalRecords]="respFiles.length " [first]="first " (onPageChange)="onPageChange($event) "></p-paginator> -->
    <div>
        <button class="btn btn-primary text-white d-inline-flex " (click)="create() "> <span class="material-symbols-rounded me-2 ">add</span>Create</button>
    </div>

</div>