<!-- <div class="row w-100">
    <div class="col-12 py-4 border-lighter br-11px">
        <div class="w-100">
            
        </div>

      <div class="w-100">
          <small class="text-muted">Overview</small>
        <h3>Users</h3>
      </div>
    </div>
</div> -->
<div class="row w-100">
    <div class="col-12  border-lighter br-11px p-3">
        <div class="border-lighter br-8px p-3">
            <div class="form-section mb-4" *ngIf="showAddUserForm">
                <h5>Create User</h5>
                <form class="row" [formGroup]="AddUserForm" (ngSubmit)="onSubmit()">
                    <div class="col-12 col-md-3 mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" placeholder="Anum" class="form-control p-12px br-8px mt-2" formControlName="username">
                            <small class="text-danger" *ngIf="AddUserForm.get('username')!.invalid && (AddUserForm.get('username')!.dirty || AddUserForm.get('username')!.touched)">Username is required</small>

                        </div>
                    </div>
           

                    <div class="col-12 col-md-6  mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label>email</label>
                            <input type="email" placeholder="anumfarooq@gmail.com" class="form-control p-12px br-8px  mt-2" formControlName="email">

                            <small class="text-danger" *ngIf="AddUserForm.get('email')!.invalid && (AddUserForm.get('email')!.dirty || AddUserForm.get('email')!.touched)">Email is required</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label class="mb-2 mt-2">Password</label>
                            <input type="password"  class="form-control p-12px br-8px  mt-2" formControlName="password">

                            <small class="text-danger" *ngIf="AddUserForm.get('password')!.invalid && (AddUserForm.get('password')!.dirty || AddUserForm.get('password')!.touched)">Password is required</small>
                        </div>
                    </div>
                    <div class="col-6 col-md-6  mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <h6 class="mb-2 mt-2">Select Service</h6>
                            <select formControlName="serviceId" class=" form-select p-12px br-8px mt-3" >
                                <option [value]="" hidden>Select Service</option>
                                <ng-container *ngFor="let item of services;let i = index">
                                    <option [value]="item.id">{{item.name}}</option>
                                </ng-container>        
                            </select>
                            <small *ngIf="AddUserForm.get('serviceId')?.invalid &&  (AddUserForm.get('serviceId')?.touched  ||AddUserForm.get('serviceId')?.dirty)" class="text-danger">
                                Please Select Service
                            </small>                            </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-group">
                                <label>User Role</label>
                                <!-- <div class="field-checkbox">
                                    <p-checkbox name="group1" value="1" formControlName="userrole" inputId="ny"></p-checkbox>
                                    <label class="ms-2 me-3" for="ny">Manager</label>
                                    <p-checkbox name="group1" value="2" formControlName="userrole" inputId="sf"></p-checkbox>
                                    <label class="ms-2 me-3" for="sf">Worker</label>
                                </div> -->
                                <div>
                                    
                                    <p-radioButton (click)="selectedRole('Manager',$event)" name="role" formControlName="userrole" [value]="'1'" [inputId]="'1'" [name]="'userrole'"></p-radioButton>
                                    <label [for]="'1'" class="ml-2" >Manager</label>
                                    <p-radioButton  (click)="selectedRole('Worker',$event)" name="role" formControlName="userrole" [value]="'2'" [inputId]="'2'" [name]="'userrole'"></p-radioButton>
                                    <label [for]="'2'"  class="ml-2" >Worker</label>
                                </div>

                                <small class="text-danger" *ngIf="AddUserForm.get('userrole')!.invalid && (AddUserForm.get('userrole')!.dirty || AddUserForm.get('userrole')!.touched)">Role is required</small>
                            </div>
                        </div>
                
            
                        <div class="row">
                            <p class="mb-2">Profile Image</p>
                            <div class="w-100 max-w-234px file-bg p-2 m-2 br-11px file-bg text-center position-relative" *ngIf="AddUserForm.get('profile_pic')!.value">

                                <!-- <img [src]="src" alt="" class="br-15px "> -->
                                <p-image [src]="AddUserForm.get('profile_pic')!.value" alt="Image" class="br-15px object-fit-cover" [preview]="true" width="90%" height="90%">
                                    <ng-template pTemplate="indicator">
                                        <div class=" d-flex justify-content-center flex-column align-items-center">
                                            <span class="material-symbols-rounded">search</span>
                                            <p class="mt-2">View Full Screen</p>
                                        </div>

                                    </ng-template>
                                </p-image>
                                <span class="material-symbols-rounded position-absolute  remove-icon" (click)="removeProfilePic()">remove</span>
                            </div>

                            <div class="image-upload-wrapper-items" *ngIf="!AddUserForm.get('profile_pic')!.value">
                                <div class=" d-flex align-items-center justify-content-center flex-column ">
                                    <input type="file" (change)="onProfilePicSelected($event)" accept="image/jpeg, image/png, image/jpg" id=" input-file-now "  class="file-upload" />
                                    <div class="d-inline-flex align-content-center">
                                        <span class="material-symbols-rounded fs-3 text-dark-500">image</span>
                                        <p class="fs-6 my-auto ms-2 text-dark-800">Upload Image</p>
                                    </div>


                                </div>  
                            </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-3 pe-0 mt-3 ">
                                <div class="d-flex justify-content-end w-100">
                                    <button href="#" class="btn btn-dark  px-xxl-5 px-0 py-3 m-0 w-100 br-8px mx-2" (click)="showAddUserForm=false">
    Cancel</button>
                                    <button class="btn  btn-primary px-xxl-5 px-0 py-3 m-0 w-100 br-8px" [disabled]="AddUserForm.invalid" type="submit">
    Add</button>
                                </div>
    
    
                            </div>
                        </div>
     
                    </div>

                </form>
            </div>
            <app-data-grid [cols]="cols" [respFiles]="users" (CreateEmitter)="showForm()" (deletetEmitter)="deleteUser($event)" [addUserbtn]="true" (Update)="update($event)"></app-data-grid>

        </div>


    </div>
</div>