<!-- <div class="row w-100">
    <div class="col-12 py-4 border-lighter br-11px">
        <div class="w-100">
            
        </div>

      <div class="w-100">
          <small class="text-muted">Overview</small>
        <h3>Users</h3>
      </div>
    </div>
</div> -->
<div class="row w-100">
    <div class="col-12  border-lighter br-11px p-3">
        <div class="border-lighter br-8px p-3">
            <div class="form-section mb-4" *ngIf="showAddUserForm">
                <h5>Add Table</h5>
                <form class="row" [formGroup]="AddUserForm" (ngSubmit)="onSubmit()">
                    <div class="col-6 col-md-3 mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" placeholder="Anum" class="form-control p-12px br-8px mt-2" formControlName="firstname">

                            <small class="text-danger" *ngIf="AddUserForm.get('firstname')!.invalid && (AddUserForm.get('firstname')!.dirty || AddUserForm.get('firstname')!.touched)">First Name is required</small>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" placeholder="Farooq" class="form-control p-12px br-8px mt-2" formControlName="lastname">

                            <small class="text-danger" *ngIf="AddUserForm.get('lastname')!.invalid && (AddUserForm.get('lastname')!.dirty || AddUserForm.get('lastname')!.touched)">Last Name is required</small>
                        </div>
                    </div>

                    <div class="col-12 col-md-6  mt-3 mt-sm-3 mt-md-0">
                        <div class="form-group">
                            <label>email</label>
                            <input type="email" placeholder="anumfarooq@gmail.com" class="form-control p-12px br-8px  mt-2" formControlName="email">

                            <small class="text-danger" *ngIf="AddUserForm.get('email')!.invalid && (AddUserForm.get('email')!.dirty || AddUserForm.get('email')!.touched)">Email is required</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-9">
                            <div class="form-group">
                                <label>User Role</label>
                                <div class="field-checkbox">
                                    <p-checkbox name="group1" value="1" formControlName="userrole" inputId="ny"></p-checkbox>
                                    <label class="ms-2 me-3" for="ny">Manager</label>
                                    <p-checkbox name="group1" value="2" formControlName="userrole" inputId="sf"></p-checkbox>
                                    <label class="ms-2 me-3" for="sf">Worker</label>
                                </div>

                                <small class="text-danger" *ngIf="AddUserForm.get('userrole')!.invalid && (AddUserForm.get('userrole')!.dirty || AddUserForm.get('userrole')!.touched)">Role is required</small>
                            </div>
                        </div>

                        <div class="col-3 pe-0">
                            <div class="d-flex justify-content-end w-100">
                                <button href="#" class="btn btn-dark  px-xxl-5 px-0 py-3 m-0 w-100 br-8px mx-2">
Cancel</button>
                                <button class="btn  btn-primary px-xxl-5 px-0 py-3 m-0 w-100 br-8px" [disabled]="AddUserForm.invalid" type="submit">
Add</button>
                            </div>


                        </div>
                    </div>

                </form>
            </div>
            <app-data-grid [cols]="cols" [respFiles]="users" (showFormEmitter)="showForm()" [addUserbtn]="true"></app-data-grid>

        </div>


    </div>
</div>