<div class="row w-100">
    <div class="col-12  border-lighter br-11px p-3">
        <div class="border-lighter bg-white  br-8px p-3">
            <div class="form-section mb-4" *ngIf="serviceFormShow">
                <h5 class="mb-0">Add Service Item</h5>
                <form class="row" [formGroup]="AddForm" (ngSubmit)="onSubmit()">
               
                    <div class="col-6 col-md-4 mt-3">
                        <div class="form-group">
                            <label>Service Name</label>
                            <input type="text" placeholder="Service Name" class="form-control p-12px br-8px mt-2" formControlName="serviceName">

                            <small class="text-danger" *ngIf="AddForm.get('serviceName')!.invalid && (AddForm.get('serviceName')!.dirty || AddForm.get('serviceName')!.touched)">Service Name is required</small>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mt-3">
                        <div class="form-group">
                            <label>Service Description</label>
                            <input type="text" placeholder="Service Description" class="form-control p-12px br-8px mt-2" formControlName="serviceDescription">

                            <small class="text-danger" *ngIf="AddForm.get('serviceDescription')!.invalid && (AddForm.get('serviceDescription')!.dirty || AddForm.get('serviceDescription')!.touched)">Service Description is required</small>
                        </div>
                    </div>
                 
                    <div class="row mt-3">
                        <div class="col-9">

                        </div>

                        <div class="col-3 pe-0">
                            <div class="d-flex justify-content-end w-100">
                                <button href="#" class="btn btn-dark  px-xxl-5 px-0 py-3 m-0 w-100 br-8px mx-2" (click)="serviceFormShow=false">Cancel</button>
                                <button href="#" class="btn  btn-primary px-xxl-5 px-0 py-3 m-0 w-100 br-8px" [disabled]="!AddForm.valid" type="submit">Add</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <app-data-grid [cols]="cols" [respFiles]="itemsDetails" (CreateEmitter)="showForm()" [servicesAddbtn]="true"></app-data-grid>
        </div>
    </div>
</div>