<p-sidebar [visible]="true" [modal]="false" [showCloseIcon]="false" [baseZIndex]="1">
    <div class="w-100 text-center py-3">
        <a href="/account/dashboard"> <img src="../../../assets/Images/logo.png" alt="logo"></a>
    </div>
    <ng-scrollbar [autoHeightDisabled]="false">
        <ul class="sideBar-Nav">



            <li [ngClass]="urlComplete!.indexOf('dashboard')>0?'active':' '">
                <a href="/account/dashboard" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            dashboard
          </span> Dashboard
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('booking')>0?'active':' '">
                <a href="/account/booking" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            calendar_month
          </span> Bookings
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('users')>0?'active':' '">
                <a href="/account/users" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            group
          </span> Users
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('users')>0?'active':' '">
                <a href="/account/facilities" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            group
          </span> Facilities
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('users')>0?'active':' '">
                <a href="/account/facilities" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            group
          </span> Bed Types
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('rooms')>0?'active':' '">
                <a href="/account/rooms" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
                        event_seat
            </span> Rooms
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('roomtypes')>0?'active':' '">
                <a href="/account/roomtypes" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
                            home
                </span> Room Types
                </a>
            </li>
            <li *ngIf="user.roleName=='Admin' || user.roleName=='Manager'" [ngClass]="urlComplete!.indexOf('services')>0?'active':' '">
                <a href="/account/services" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
                            room_service
                    </span> Services
                </a>
            </li>
            
            <li *ngIf="user.roleName=='Super Admin' " [ngClass]="urlComplete!.indexOf('hotels')>0?'active':' '">
                <a href="/account/hotels" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
                            hotel
                    </span> Hotels
                </a>
            </li>
            
            <li *ngIf="user.roleName=='Super Admin' " [ngClass]="urlComplete!.indexOf('admins')>0?'active':' '">
                <a href="/account/admins" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
                            group
                    </span> Admins
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="logout()" class="d-flex align-items-center me-2">
                    <span class="material-symbols-rounded">
            group
          </span> Logout
                </a>
            </li>
        </ul>
    </ng-scrollbar>

</p-sidebar>