<div class="row w-100">
    <div class="col-12  border-lighter br-11px p-3">
        <div class="border-lighter br-8px p-3">
            <div class="row hl-botom">
                <div class="col-4">
                    <img src="../../../../../assets/Images/hotel_pic.png" class="br-11px object-fit-cover" alt="hotel picture" width="300px">
                    <div class="py-2 w-300px text-white bg-primary text-primary text-center mt-2 br-8px">
                        Price / Per night: $100
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="fw-bold">Sareena Hotel Sydney, Australia</h5>
                    <p class="m-0">City in new south wales, australia...</p>
                    <div class="d-inline-flex py-3">
                        <span class="material-symbols-rounded me-1">star_border</span>
                        <p class="m-0">5.0</p>
                    </div>
                    <p>Booking Status: <span class="inprogress px-2 py-1 text-center br-6px">
                            In Progress
                        </span></p>
                    <h6 class="fw-semibold">Description</h6>
                    <p>
                        Sareena Hotel, Alice Springs NT 0870, Australia is a modern hotel. elegant 5 star hotel overlooking <br> <a class="text-decoration-none text-primary cursor-pointer">Read More...</a>
                    </p>
                </div>
                <div class="col-4">
                    <div class="verticalLine px-3">
                        <h6 class="fw-bold">Facilities</h6>
                        <p>Free Wifi, Free Breakfast, Single Bed, Double Bed, , Ensuit Bath...</p>
                        <div class="hl-y">
                            <p class="py-3 m-0">Booking Id: 567895</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <h5>All Ussers</h5>
                <app-data-grid [cols]="cols" [respFiles]="userDetailsList"></app-data-grid>
            </div>
        </div>
    </div>
</div>