<div class="row w-100 mb-3 bg-white">
    <div class="col-12 p-3 border-lighter br-11px">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h6 class="py-2 px-5 text-center w-100 border-lighter br-8px mb-0">
                    Today ·{{date | date:'EE dd-MM-yyyy hh:mm:ss a'}}
                </h6>
            </div>
            <div class="d-flex align-items-center justify-content-around">
                <div class="icon-outline my-auto mx-2 text-center">
                    <span class="material-symbols-rounded my-auto mt-2 fs-20px text-dark-500 cursor-pointer" mat-button [matMenuTriggerFor]="notification">
                                notifications_none
                                  </span>
                                  
                    <mat-menu #notification="matMenu">
                        <div (click)="$event.stopPropagation()">
                        <p-tabView>
                            <p-tabPanel header="Unread" >
                               <div>
                                    <div class="notification-item" *ngFor="let item of notifications">
                                        <div *ngIf="item.isRead==false" class="d-inline-flex mb-2 justify-content-center align-items-center">
                                        <p-avatar  styleClass="mr-2 mx-4" size="small"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                                        <div class="d-flex flex-column g-0 mr-2 cursor-pointer" (click)="onNotificationClick(item)">
                                            <p [style]="{'font-size': '15px'}" class="p-0 mb-0">{{item['username']}}</p>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==1">has requested for service</span>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==0">Booking Request</span>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==2">SOS</span>
                                        </div>
                                        </div>
                                    </div>
                                     <!-- <div class="notification-item d-inline-flex justify-content-center align-items-center">
                                        <p-avatar  styleClass="mr-2 mx-4" size="small"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                                        <div class="d-flex flex-column g-0 mr-2">
                                            <p  [style]="{'font-size': '15px'}" class="p-0 mb-0">Moeez Shahid</p>
                                            <span [style]="{'font-size': '12px'}">Has requested for house keeping</span>
                                            
                                        </div>
                                    </div> -->
                               </div>
                            </p-tabPanel>
                            <p-tabPanel header="Read">
                                <div>
                                    <div class="notification-item" *ngFor="let item of notifications">
                                        <div *ngIf="item.isRead==true" class="d-inline-flex mb-2 justify-content-center align-items-center">
                                        <p-avatar  styleClass="mr-2 mx-4" size="small"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                                        <div class="d-flex flex-column g-0 mr-2 cursor-pointer" >
                                            <p [style]="{'font-size': '15px'}" class="p-0 mb-0">{{item['username']}}</p>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==1">has requested for service</span>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==0">Booking Request</span>
                                            <span [style]="{'font-size': '12px'}" *ngIf="item.type==2">SOS</span>
                                        </div>
                                        </div>
                                    </div>
                                     <!-- <div class="notification-item d-inline-flex justify-content-center align-items-center">
                                        <p-avatar  styleClass="mr-2 mx-4" size="small"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                                        <div class="d-flex flex-column g-0 mr-2">
                                            <p  [style]="{'font-size': '15px'}" class="p-0 mb-0">Moeez Shahid</p>
                                            <span [style]="{'font-size': '12px'}">Has requested for house keeping</span>
                                            
                                        </div>
                                    </div> -->
                               </div>
                            </p-tabPanel>
                        
                        </p-tabView>
                    </div>
                    </mat-menu>

                </div>

                <p-dropdown  [options]="languages" formControlName="language" placeholder="Language" optionLabel="name" optionValue="id" (onChange)="onLanguageSelect($event)"></p-dropdown>
                <div class="user-pick ms-2">
                         <p-avatar *ngIf="!user.imageUrl" [label]="user.name.charAt(0).toString().toUpperCase()" styleClass="mr-2" size="large"  [style]="{'background-color':'#1DB9A1', 'color': '#ffffff'}" shape="circle"></p-avatar>
                  <p-avatar [image]="user.imageUrl" styleClass="mr-2" size="large" *ngIf="user.imageUrl" [style]="{'border':'1px solid #1DB9A1 ', 'color': '#ffffff'}" shape="circle"></p-avatar>

                </div>
                <div class="me-2 mt-2">
                    <span class="material-symbols-rounded cursor-pointer text-green fs-2" mat-button [matMenuTriggerFor]="menu">
                                expand_more
                                  </span>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="d-inline-flex justify-content-center align-items-center" (click)="logout()">
                                                <span class="material-icons me-2">
                                                        exit_to_app
                                                    </span>
                                                    Logout
                                        </button>
                    </mat-menu>
                </div>

            </div>
        </div>
    </div>
</div>